request:
  method: POST
  url: http://localhost:8080/users
  queryParams:
    page: 3
    sort: asc
  header:
    key0: [val0, val1]
    key1: [val0]
  body:
    type: raw # only "raw" accepted at the moment
    content: '{"key0":"val0","key1":"val1"}'

runner:
  requests: 100
  concurrency: 1
  interval: 50ms
  requestTimeout: 2s
  globalTimeout: 60s

output:
  out:
    - benchttp
    - json
    - stdout
  silent: true
  template: "{{ .Benchmark.Length }}"
